.product-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 600px;
  margin-top: 150px;
}

.product-summary-image {
  width: 70%;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset -29px 29px 58px rgb(116, 116, 116, 0.75);
}

.carousel-img-wrap {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cslide{
  height: 100%;
}

.carousel-inner{
  height: 100%;
}

.product-summary-info {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
  padding-left: 30px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.product-summary-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Century Gothic, CenturyGothic, sans-serif;
  line-height: normal;
}

.pst-header {
  font-weight: bold;
}

.product-summary-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.rev {
  margin-left: 10px;
  text-decoration: black underline;
}

.product-summary-purchase-frequency {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 20px;
}

.psp-cf {
}

.pspf-cf-frequency-select {
  margin-top: 20px;
}

.free-shipping {
  font-size: 12px;
  color: silver;
  font-style: italic;
}

.add-to-cart-button {
  width: 100%;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  border: none;
  color: white;

  margin-top: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.add-to-cart-button:hover {
  background-color: #48acd6;
  color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 600px) {
  .product-summary {
    padding-top:60px;
    flex-direction: column;
    height: auto;
    margin-top: 0px;
  }

  .product-summary-image {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset -29px 29px 58px rgb(116, 116, 116, 0.75);
    margin-top: -60px;
  }

  .product-summary-info {
    width: 100%;
    padding-top: 30px;
  }

  .carousel-img-wrap {
    min-height: 400px;
  }
}
