.product-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  margin-left:25%;
}
.ingredients-title{
  margin-left: 25%;
  margin-bottom: 10px;
}

.left-column {
  margin-bottom: 20px;
}

.right-column {
  width: 50%;
  height: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-info {
    flex-direction: column;
    width:90%;
    margin-left: 5%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product-info {
    flex-direction: column;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .product-info {
    
  }
  .left-column {
    margin-right: 10%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
